<h1>Challengers</h1><br>

<%= will_paginate %>

<% @users.in_groups_of(3) do |group| %>
	<div class="row">
		<% group.compact.each do |user| %>
			<%= render user %>
		<% end %>
	</div>
<% end %>

<%= will_paginate %>
