<h1>Challengers</h1><br>




  <% @users.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |user| %>
        <div class="span3">
          
                  <div class="hero-widget well well-sm">
                      <div class="icon">
                        <i class="glyphicon glyphicon-user"></i>
                      </div>
                      <div class="text">
                        <title><%= user.name %></title>
                        <label>Represented by the brave and Loyal</label> 
                        <title><%= user.champion.name %></title>
                        <var>Wins: <%= user.wins %></var>
                        <var>Losses: <%= user.losses %></var>
                    </div>
                            
          </div>
        </div>
      <% end %>
    </div>
  <% end %>


